.a1{
    margin: 50px 35% ;
    width: 40vw;
    border: 1px solid black;
    height: 250px;
}
.a2{
    width: 20vw;
    border: 1px solid black;
    height: 250px;
    float: right;
}
.a3{
    width: 20vw;
    border: 1px solid black;
    height: 250px;
    
}